<!DOCTYPE html>
<html lang="en">
   <head>
   	<% include header.html %>
   </head>
   <body>
    <div class='container'>
      <div class='form-box'>
          <h2 class='text-center animated bounce'>This is admin area</h2>
          <a href="/signout" class='btn btn-info pull-right' title="sign out">sign out</a>
          <a href="/newproject/<%=data.user.userId%>" class='btn btn-success pull-right' title="Add Project">Create Project</a>
          
          <h3>Total projects found: <span class='badge'><%= data.project.length %></span></h3>
           <table class='table'>
           <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Action</th>
           </tr>
           <% data.project.forEach(function(msgObj){ %>
           <tr>
              <td><%= msgObj.name %></td>
              <td><%= msgObj.description %></td>
              <td><%= data.moment(msgObj.start_date).format('Do MMMM, YYYY'); %></td>
              <td><%= data.moment(msgObj.end_date).format('Do MMMM, YYYY'); %></td>
              <td><a href="/editproject/<%=msgObj.id%>" class='btn btn-info'>Edit</a>&nbsp; | &nbsp;<a href="/deleteproject/<%=msgObj.id%>" class='btn btn-danger'>Delete</a></td>
           </tr>
           <% }) %>
         </table>
      </div>

    </div>     
   </body>
</html>